.capitulos {
    margin: 1em;
}

.capitulos__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
}



.cap__lista__item {
    text-decoration: none;
    color: var(--cor-preto);
    font-family: "Anton SC", sans-serif;
    font-size: 18px;
    padding: 2em 5em;

    background-color: var(--cor-branco);
    border: 2px solid var(--cor-vermelho);
    border-radius: 24px;
    box-shadow: 3px 3px 7px var(--cor-vermelho);
}

.cap__lista {
    padding:0;
    margin: 0;
    margin: 0em 0;
}

.cap__lista:hover {
    background-color: rgb(255, 230, 230);
}

.janela {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}