.card {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: center;
    gap: 2em;
    box-shadow: 3px 3px 17px var(--cor-vermelho);
    margin-bottom: 1em;
    background-image: url("../img/WH-logo.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 11%;
}


.mais-acessado-capa {
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1em 2em 1em 0;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
    gap: 5.5em;
}

.card__titulo {
    padding-top: 1.5em;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    text-align: center;
}

.card__botao {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    margin: 2em;
    padding: 1em 2em;
    background-color: var(--cor-vermelho);
    width: 50%;
    color: var(--cor-branco);
    border-radius: 15px;
}