.cabecalho {

    color: var(--cor-branco);
    
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: url('../img/Mary-draw.png'),  var(--cor-vermelho-gradiente);
    background-size: 30%, cover;
    background-position: 70%, center;
    background-repeat: no-repeat, no-repeat;

}

.cabecalho__titulo {
    padding: 1em;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-branco);
}

.quadrinhos__lista {
    display: flex;
    flex-wrap: wrap;
}

.hamburguer-img {
    width: 71%;
    height: 75%;
    /*filter: invert(1) transforma a imagem em negativo*/
    filter: invert(1);
    margin-right: 1.5em;
}

.label__menu {
    width: 20%;
}

.menu {
    display: none;
}

 /* Estilo inicial dos itens do menu */
.menu__itens {
    display: none;
}

/* Estilo dos itens do menu quando o checkbox está marcado */
.menu:checked ~ .menu__itens {
    display: block;
    position: absolute;
    right: 0%;
    top: 8.6%;
}

.sobremim {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    padding: 1em 0;
    border: 1px solid var(--cor-vermelho);
}

.sobremim__link {
    text-decoration: none;
    color: black;
    padding: 1em 3em;
}

.sobremim__link:hover{
    background: var(--cor-vermelho-gradiente);
    color: var(--cor-branco);
}

@media screen and (min-width:1024px){
    .cabecalho__titulo {
        font-size: 55px;
    }

    .hamburguer-img {
        width: 55%;
        height: 60%;
    }

        /* Estilo dos itens do menu quando o checkbox está marcado */
    .menu:checked ~ .menu__itens {
        display: block;
        position: absolute;
        right: 0%;
        top: 14%;
    }

    .sobremim {
        display: flex;
        flex-direction: column;
        background-color: var(--cor-branco);
        padding: 1em 0;
        border: 1px solid var(--cor-vermelho);
    }
    
    .sobremim__link {
        font-size: 30px;
    }
}

@media screen and (min-width:1367px) {
    .hamburguer-img{
    width: 25%;
    height: 27%;
    margin-right: 0;
    }

    .label__menu {
        text-align: center;
    }

    .cabecalho__titulo {
        font-size: 34px;
    }

    .cabecalho {
        background: url('../img/Mary-draw.png'),  var(--cor-vermelho-gradiente);
        background-size: 15%, cover;
        background-position: 70%, center;
        background-repeat: no-repeat, no-repeat;
    }
}