.rodape {
    background: var(--cor-vermelho-gradiente);
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__links {
    text-decoration: none;
    color: var(--cor-branco);
}

.rodape__lista {
    display: flex;
    gap: 2em;
    padding-bottom: 2em;
}

.rodape__titulo {
    padding: 2em;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    text-align: center;
}

@media screen and (min-width:1024px) {
    .rodape__titulo {
        font-size: 25px;
    }

    .rodape__links {
        font-size: 25px;
    }
}
